@font-face {
  font-family: "iconfont"; /* Project id 3868432 */
  src: url('./iconfont.woff2?t=1674300175012') format('woff2'),
       url('./iconfont.woff?t=1674300175012') format('woff'),
       url('./iconfont.ttf?t=1674300175012') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wancheng:before {
  content: "\e6bc";
}

.icon-shibai:before {
  content: "\e6bd";
}

.icon-bofang:before {
  content: "\e6be";
}

.icon-pinglun:before {
  content: "\e6bf";
}

.icon-dianzan:before {
  content: "\e6c1";
}

.icon-dingwei:before {
  content: "\e6c6";
}

.icon-shijian:before {
  content: "\e6ce";
}

.icon-kefu_2:before {
  content: "\e6d1";
}

.icon-tuichudenglu:before {
  content: "\e6d2";
}

.icon-pinglun_2:before {
  content: "\e6d3";
}

.icon-sousuo_2:before {
  content: "\e6d4";
}

.icon-bianji_2:before {
  content: "\e6d5";
}

.icon-bianji:before {
  content: "\e6d6";
}

.icon-wode:before {
  content: "\e6d7";
}

.icon-biaoqian:before {
  content: "\e6d8";
}

.icon-sousuo:before {
  content: "\e6d9";
}

.icon-wancheng_3:before {
  content: "\e6da";
}

.icon-shoucang:before {
  content: "\e6db";
}

.icon-wancheng1:before {
  content: "\e6dc";
}

.icon-mima:before {
  content: "\e6dd";
}

.icon-tianjia:before {
  content: "\e6de";
}

.icon-shibai1:before {
  content: "\e6df";
}

.icon-shanchu:before {
  content: "\e6e0";
}

.icon-fenlei:before {
  content: "\e6e1";
}

.icon-shouye:before {
  content: "\e6e2";
}

.icon-shezhi:before {
  content: "\e6e3";
}

.icon-shouye_3:before {
  content: "\e6e4";
}

.icon-shoucang_2:before {
  content: "\e6e5";
}

.icon-shouye_2:before {
  content: "\e6e6";
}

.icon-geren:before {
  content: "\e6e7";
}

.icon-liulan:before {
  content: "\e6e8";
}

.icon-shaixuan_2:before {
  content: "\e6e9";
}

.icon-fanhui:before {
  content: "\e6ea";
}

.icon-yinle:before {
  content: "\e6eb";
}

.icon-shequ:before {
  content: "\e6ec";
}

.icon-xianshi:before {
  content: "\e73b";
}

.icon-yincang:before {
  content: "\e73c";
}

.icon-dingbu:before {
  content: "\e78a";
}

.icon-dibu:before {
  content: "\e78b";
}

